body
{
  background-color: gray;
  color:white;
}

button
{
  background-color: white;
}

.App {
  text-align: center;
 
}


.item
{
    border:2px solid white;
    border-radius:1rem;
    width:80%;
    margin: auto;
    padding: 1rem;

}
.button
{
    width: 70%;
    
    margin:1rem;
    font-size: 1rem;
    padding: 1rem;
    }

.StartButton
{
  font-size:2rem;

}

.disabledVision
{
  display:none;
}

.question
{
  
  
}

.questionFrame
{
  min-height: 10rem;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;

}
